
<!DOCTYPE html>

<html>
   <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" type="text/css" href="/public/css/all.css">
         <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
         <link rel="stylesheet" type="text/css" href="/public/css/dataTables.bootstrap.min.css">
         <link rel="stylesheet" type="text/css" href="/public/css/rowReorder.dataTables.min.css">
         <link rel="stylesheet" type="text/css" href="/public/css/mdb.min.css">
         <link rel="stylesheet" type="text/css" href="/public/css/mystyle.css">
         <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
         <link rel="icon" href="/public/icon/tasks.png" type="image/png" sizes="16*16">
         <script type="text/javascript" src="/public/js/jquery.min.js"></script>
	     <script type="text/javascript" src="/public/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/public/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="/public/js/dataTables.keepConditions.min.js"></script>
	     <script type="text/javascript" src="/public/js/dataTables.bootstrap.min.js"></script>
	     <script type="text/javascript" src="/public/js/popper.min.js"></script>
	     <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
	     <script type="text/javascript" src="/public/js/mdb.min.js"></script>
	     <script type="text/javascript" src="/public/js/main.js"></script>          
	  
   