
   
   <div class="modal fade" id="insertModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	        <div class="modal-content">
		        <div class="modal-header">
		           <h4 class="modal-title">Καταχώρηση</h4>
		        </div>
		        <div class="modal-body">

		          <div class="form-group">
		          	  <label for="title_insert">Τίτλος</label>
		              <input type="text" class="form-control" id="title_insert">
		          </div>

		          <div class="form-group">
					  <label for="description_insert">Περιγραφή</label>
					  <textarea class="form-control" rows="5" id="description_insert"></textarea>
				  </div>

				   <div class="form-group">
					 
					   <a href="/tasks/todo" class="btn btn-info insertlink" role="button">Καταχώρηση</a>
				  </div>

		        </div>
		        <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
		        
	        </div>
	      
	    </div>
    </div>