

<div class="modal fade" id="updateModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	        <div class="modal-content">
		        <div class="modal-header">
		           <h4 class="modal-title">Ενημέρωση</h4>
		        </div>
		        <div class="modal-body">

		          <div class="form-group">
		          	  <label for="title_update">Τίτλος</label>
		              <input type="text" class="form-control" id="title_update">
		          </div>

		          <div class="form-group">
					  <label for="description_update">Περιγραφή</label>
					  <textarea class="form-control" rows="15" id="description_update"></textarea>
				  </div>

				   <div class="form-group">
					  <a href="#" class="btn btn-dark updatelink" role="button">Ενημέρωση</a>
				  </div>

		        </div>
		        <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
		        
	        </div>
	      
	    </div>
    </div>