

    <div class="modal fade" id="viewModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	        <div class="modal-content">
		        <div class="modal-header">
		           <h4 class="modal-title">Προβολή</h4>
		        </div>
		        <div class="modal-body">

		          <div class="form-group">
		          	  <label for="title_view">Τίτλος</label>
		              <input type="text" class="form-control" id="title_view" disabled>
		          </div>

		          <div class="form-group">
					  <label for="description_view">Περιγραφή</label>
					  <textarea class="form-control" rows="25" id="description_view" disabled></textarea>
				  </div>

		        </div>
		        <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
		        
	        </div>
	      
	    </div>
    </div>